<h1>Passing the <%= @result.test.title %> test</h1>
<h1><%= @result.current_question.body %></h1>

<p>Current question: <%= @result.current_question_number %></p>
<p>Total: <%= @result.test.questions.count %></p>

<%= tag.p id: 'time-limit', data: { start: @result.created_at.to_i, limit: @result.test.time_limit } %>

<%= render 'progress_bar' %>

<%= form_with url: result_path(@result), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: 'answer_ids_#{b.object.id}' %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Create gist for question.', result_gists_path(@result), method: :post %></p>
  <p><%= form.submit 'Next question' %></p>
<% end %>
