<h1><%= @answer.question.body %></h1>

<h2><%= @answer.body %></h2>

<p><%= @answer.correct %></p>

<table>
  <tr>
    <td><%= link_to "Edit", edit_admin_answer_path(@answer) %></td>
    <td>
      <%= link_to "Del",
                  admin_answer_path,
                  method: :delete,
                  data: { confirm: "You sure?" } %>
    </td>
    <td><%= link_to "Back", admin_question_path(@answer.question_id) %></td>
  </tr>
</table>
