<h1><%= @question.body %></h1>

<h2>Answers</h2>

<ol>
  <%= render @question.answers %>
</ol>

<table>
  <tr>
    <td><%= link_to "Edit", edit_admin_question_path(@question) %></td>
    <td>
      <%= link_to "Del",
                  admin_question_path,
                  method: :delete,
                  data: { confirm: "You sure?" } %>
    </td>
    <td><%= link_to "Add answer", new_admin_question_answer_path(@question) %></td>
    <td><%= link_to "Back", admin_test_path(@question) %></td>
  </tr>
</table>
