<h1>Tests</h1>

<%= render 'shared/errors', resource: @test %>

<table>
  <tr>
    <th class='sort-by-title pointer'>
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Level</th>
    <th>N of questions</th>
  </tr>

  <%= render @tests %>
</table>
<p><%= link_to "Create new test", new_admin_test_path %></p>
